.ui-overlay {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    z-index: 5;
    display: block;
    width:200px;
}

.row {
    display: grid;
    grid-template-columns: 30px 50px 30px;
}

.link-wrap {
    margin: 2px 0px;
    width: 106px; 
    height: 22px;
    
    border-style: solid;
    border-color: red;
    border-width: 2px;
    text-align: center;
}

#dl {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.label {
    grid-column: 2/3;
    text-align: center;
}