

#container {
    max-width: 500px;
    max-height: 400px;
    position: fixed;
    height: 100%;
    width: 100%;
}

#scene {
    display: block;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}