$swatch-size : 30px;
$texture-swatch-size: 40px;
$swatch-corner-radius : 4px;
$swatch-background: #e0e0e0;

.swatchContainer {
    display: flex;
    justify-content: center;
}

.swatch {
    width: $swatch-size;
    height: $swatch-size;
    float: left;
    border-radius: $swatch-corner-radius;
    margin-left: 6px;
    cursor: pointer;

    &.texture {
        width: $texture-swatch-size;
        height: $texture-swatch-size;
    }
    
    &.first {
        margin-left: 0px;
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $swatch-background;
        width: 100%;
        height:100%;
        border-radius: $swatch-corner-radius;

        .icon {
            width: 80%;
            height: 80%;
            object-fit: contain;
            -o-object-fit: contain;
        }

    }
}