$swatch-size : 30px;
$texture-swatch-size: 40px;
$swatch-corner-radius : 4px;
$swatch-background: #e0e0e0;

.swatchContainer {
    display: flex;
    justify-content: center;
}

.swatch {
    width: $swatch-size;
    height: $swatch-size;
    float: left;
    border-radius: $swatch-corner-radius;
    margin-left: 6px;
    cursor: pointer;

    &.texture {
        width: $texture-swatch-size;
        height: $texture-swatch-size;
    }
    
    &.first {
        margin-left: 0px;
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $swatch-background;
        width: 100%;
        height:100%;
        border-radius: $swatch-corner-radius;

        &.custom {
            background-color: $swatch-background !important;

            .customContainer {
                height: 50px;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 4px;
                position: absolute;
                padding: 4px;
                margin-top: 96px;
                margin-left: 176px;

                background-color: #e8e8e8;

                &.closed {
                    display: none
                }

                .hue {
                    height: 10px;
                    width: 100%;
                    margin-bottom: 6px;
                    position: relative;
                }

                .saturation {
                    flex-grow: 1;
                    position: relative;
                    width: 100%;
                }

                .icon {
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                    -o-object-fit: contain;
                }
            }
        }

        .icon {
            width: 80%;
            height: 80%;
            object-fit: contain;
            -o-object-fit: contain;
        }

    }
}