.editorPageContainer {
    height: 100%;

    .editorPageButton {
        position: absolute;
    }

    .editorPage {
        height: 100%;
        margin-left: 25px;
        background-color: blue;
    }
}