body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#container {
    margin-top: 30px;
    height: 400px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    canvas {
        width: 500px;
        height: 400px;
    }

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        canvas {
            margin-bottom: 20px;
        }
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
        flex-direction: column;
        canvas {
            margin-bottom: 20px;
        }
    }
}

td {
    vertical-align: middle;
    height: 100%;
    text-align: right;

    & > div {
        display:contents;
    }
}

#options {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    height: 100%;
    width: 360px;

    .texture-layer  {
        height: 32px;
        margin: 10px;
        
        .layer-button-group {
            margin: 0px 5px;
            .layer-button {
                display:block;
                color: #8d8d8d;

                :hover {
                    color:#010101;
                    -webkit-transition-duration: 0.2s; /* Safari */
                    transition-duration: 0.2s;
                    -moz-transition-duration: 0.2s;
                }

                >svg {
                    display: block;
                }

            }
        }
        
        .color-picker {
            height:100%;
            width:32px;
            padding: 0px;
            //border: 0px;
            margin: 0px 10px;
        }

        .dropdown {
            height:100%;
            width: 100px;
        }
    }
}